openapi: 3.1.0
info:
  title: aboutme API
  version: 0.1.0
  description: |
    `/api/v1` — the REST contract for the aboutme resume builder + hosted
    display service. This document is the single source of truth for the
    API. Contract changes update this file instead of redefining shapes
    elsewhere. Go, TypeScript, and Dart clients are generated from it.

    ## Response envelope

    Every response body is one of:

    - Success: `Envelope` — `{"data": ...}`.
    - Failure: `Error` — `{"error": {"code": "...", "message": "..."}}`.
      Both `code` and `message` are always present.

    ## Write safety (revisions, `If-Match`, idempotency)

    Every resume is guarded by a monotonically increasing `revision`
    (server-assigned bigint). Because 64-bit integers are not safely
    representable in JSON numbers for TS/Dart clients, `revision` is always
    serialized as a **string** — see the `Revision` schema.

    - **Optimistic concurrency.** Every mutation of an existing resume must
      carry the `If-Match` header in ETag form:
      `If-Match: "r<revision>"` (see the `IfMatch` parameter). Creating a
      resume has no prior revision and rejects `If-Match`. Authentication and
      session mutations do not use the resume precondition.
    - **Staleness is `412`, never `409`.** When the supplied `If-Match` does
      not match the resource's current revision, the server returns
      `412 Precondition Failed` with an `Error` body and the current
      revision/document so the client can reconcile and retry. This follows
      RFC 9110 §13.1.1: precondition failures are `412`.
    - **`409 Conflict` is reserved for domain conflicts** — situations that
      are not about a stale precondition at all, e.g. a requested slug is
      already taken by another resume. `409` is never used to signal
      revision staleness.
    - **Idempotency.** Every resume mutation carries an `Idempotency-Key`
      header (see the `IdempotencyKey` parameter). The client-generated UUID
      is scoped to the user and canonical operation identity: method,
      operation, and concrete target IDs. The transactional request
      fingerprint also includes the resolved wire version, normalized
      precondition, other semantic inputs, and bounded payload bytes. A
      matching retry returns the original response without re-executing the
      mutation; a changed fingerprint returns `409`.
  license:
    name: AGPL-3.0-only
    identifier: AGPL-3.0-only
servers:
  - url: https://aboutme.vn/api/v1
tags:
  - name: ops
    description: Operational endpoints (liveness/readiness) used by ECS and
      synthetic health checks. Not part of the public product surface, and
      deliberately unversioned (served at the site root, not `/api/v1`) —
      see each operation's path-level `servers` override.
  - name: auth
    description: >-
      OAuth login, account linking, reauthentication, and session
      management. Session mutations require a valid `sessionCookie` and
      `csrfToken` unless an operation states otherwise.


      `GET /auth/{provider}/start` and `GET .../callback` are top-level
      browser redirects, not JSON calls a client parses, and both are
      unauthenticated: the start is a plain sign-in link that must work
      from anywhere, and the callback is an OAuth provider redirect that
      carries no cookie-forwarding guarantee of its own. The callback
      re-derives the caller's session from the request's own
      `__Host-session` cookie only when the transaction it is completing
      was itself begun for `purpose=link`/`reauth`.


      `POST /auth/{provider}/start` begins `link` and `reauth` flows. It
      requires the session and CSRF credentials, returns the provider's
      authorize URL as JSON, and never redirects. `GET` refuses those
      purposes with `405`.


      Session endpoints do not use the resume `If-Match` and
      `Idempotency-Key` envelope. They carry no resume revision, and their
      mutations are independently retry-safe.
  - name: OAuthAgentAccess
    description: >-
      Session-authenticated consent and connected-agent grant management.
      The raw OAuth protocol endpoints and `/mcp` are agent-facing protocol
      surfaces and deliberately remain outside this OpenAPI REST contract;
      only these four browser/session operations are described here.
  - name: resumes
    description: >-
      The owner's resume surface: list, create, read, whole-resume metadata,
      and the granular autosave commands for entries, sections, structure,
      personal details, and customization.


      Every mutation of an existing resume carries `If-Match` (optimistic
      concurrency) and `Idempotency-Key` (safe retry). Creation has no prior
      revision, so it carries only the key and rejects `If-Match`. Every
      write passes through one validated aggregate boundary, so a granular
      command can never produce a document that whole-resume validation
      would reject.


      Every authenticated response carries
      `Cache-Control: no-store, no-transform` and
      `X-Request-ID`; those request-scoped headers are never stored for
      idempotent replay and are not repeated on each operation below.
  - name: media
    description: >-
      Resume photos. Objects are private and served only through Go after an
      ownership check: object existence never grants access, and V1 has no
      direct public `/assets` origin. Intake normalizes every accepted image
      to metadata-free JPEG or PNG pixels under a server-derived immutable
      key.
  - name: public
    description: >-
      Unauthenticated published-resume JSON and photo representations. These
      routes use privacy-safe public DTOs, exact-body validators, and the
      shared public generation gate. They never expose owner resume objects or
      private media keys.
paths:
  /healthz:
    servers:
      - url: https://aboutme.vn
        description: >-
          Unversioned root, not /api/v1 — health is infrastructure, not
          product API, so a future /api/v2 must never break orchestrator or
          synthetic checks (design doc §2 route table).
    get:
      operationId: getHealthz
      tags: [ops]
      security: []
      summary: Liveness probe
      description: |
        Always returns `200` as long as the process is up and able to serve
        HTTP — it does not check downstream dependencies (Postgres,
        Chromium). Used for container liveness, not traffic admission; see
        `/readyz` for that.

        Responses use the standard JSON envelope
        (`{"data":{"status":"ok"}}`), not plain text — the envelope is the
        API-wide contract and machine-parseable probes are worth more than
        human-readable ones.

        Also available as `HEAD /healthz`, which returns the identical
        status code and headers with no response body (RFC 9110 §9.3.2).

        **Unversioned by design**: served at the site root
        (`https://aboutme.vn/healthz`), not under `/api/v1` — see the
        path-level `servers` override.
      responses: &healthzResponses
        "200":
          description: The process is alive.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Envelope"
              example:
                data:
                  status: ok
    head:
      operationId: headHealthz
      tags: [ops]
      security: []
      summary: Liveness probe (HEAD)
      description: |
        `HEAD` form of `GET /healthz`: identical status code and headers
        (including `Content-Type`) as the `GET` response, but with **no
        response body** (RFC 9110 §9.3.2 — HEAD is GET without a body).
        Container/monitoring probes such as `wget --spider` use this form.
      responses: *healthzResponses
  /readyz:
    servers:
      - url: https://aboutme.vn
        description: >-
          Unversioned root, not /api/v1 — health is infrastructure, not
          product API, so a future /api/v2 must never break orchestrator or
          synthetic checks (design doc §2 route table).
    get:
      operationId: getReadyz
      tags: [ops]
      security: []
      summary: Readiness probe
      description: |
        Returns `200` when the server is ready to accept traffic (database
        reachable, render queue not saturated). CloudFront/Caddy and ECS use
        this to gate traffic admission; a `503` here should stop new
        requests from being routed to this task.

        Responses use the standard JSON envelope on success
        (`{"data":{"status":"ready"}}`) and the standard error envelope on
        failure (`{"error":{...}}`), not plain text — the envelope is the
        API-wide contract and machine-parseable probes are worth more than
        human-readable ones.

        Also available as `HEAD /readyz`, which returns the identical
        status code and headers with no response body (RFC 9110 §9.3.2).

        **Unversioned by design**: served at the site root
        (`https://aboutme.vn/readyz`), not under `/api/v1` — see the
        path-level `servers` override.
      responses: &readyzResponses
        "200":
          description: Ready to serve traffic.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Envelope"
              example:
                data:
                  status: ready
        "503":
          description: Not ready (e.g. database unreachable, render queue
            saturated).
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
              example:
                error:
                  code: not_ready
                  message: database is unreachable
    head:
      operationId: headReadyz
      tags: [ops]
      security: []
      summary: Readiness probe (HEAD)
      description: |
        `HEAD` form of `GET /readyz`: identical status code and headers
        (including `Content-Type`) as the `GET` response, but with **no
        response body** (RFC 9110 §9.3.2 — HEAD is GET without a body).
        Container/monitoring probes such as `wget --spider` use this form.
      responses: *readyzResponses

  # ---- OAuth login (Google/GitHub/LinkedIn) -------------------------------
  # GET /start begins a login transaction and redirects to the provider.
  # GET /callback completes any login, link, or reauthentication transaction
  # and redirects to the purpose-specific application route.
  #
  # POST /start begins link and reauthentication transactions. It is a
  # session- and CSRF-authenticated bodiless call that returns the authorize URL.
  # GET refuses those purposes with 405 and Allow: POST. Every start method
  # also carries the shared auth-start rate limit.
  /auth/google/start:
    get:
      operationId: getAuthGoogleStart
      tags: [auth]
      security: []
      summary: Begin "Sign in with Google"
      description: >-
        Begins a fresh OAuth2/OIDC login transaction (PKCE S256, an OIDC
        nonce) and redirects the browser to Google's own authorize
        endpoint. Sets the `__Host-oauth-tx` cookie (opaque transaction
        handle, 10-minute TTL) that the matching `GET
        /auth/google/callback` consumes.


        A `HEAD` request is rejected with `405`, not treated as a bodyless
        `GET`, because a successful request creates a database-backed
        transaction. `GET` accepts only the login purpose. A `link` or
        `reauth` purpose returns `405` with `Allow: POST` before a session
        lookup, database write, or cookie is set.
      parameters:
        - $ref: "#/components/parameters/AuthPurpose"
        - $ref: "#/components/parameters/AuthReturnPath"
      responses:
        "302":
          description: Success — a redirect to Google's own authorize endpoint.
          headers:
            Location:
              schema:
                type: string
                format: uri
              example: https://accounts.google.com/o/oauth2/v2/auth?...
        "405":
          description: >-
            Either an unsupported method, including `HEAD`, or a `GET`
            carrying `?purpose=link` or `?purpose=reauth`. The latter
            purposes are served only by `POST` and return `Allow: POST`.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "429":
          $ref: "#/components/responses/AuthStartRateLimited"
    post:
      operationId: postAuthGoogleStart
      tags: [auth]
      security:
        - sessionCookie: []
          csrfToken: []
      summary: Begin a Google link or reauthentication
      description: >-
        Begins an OAuth transaction for the CALLER's own already-
        authenticated account — `purpose=link` (attach this provider
        identity to that account) or `purpose=reauth` (refresh the
        session's `reauthenticated_at` against an ALREADY-linked
        identity) — and returns Google's authorize URL for the client to
        navigate to. Sets the same `__Host-oauth-tx` cookie (opaque
        transaction handle, 10-minute TTL) the matching `GET
        /auth/google/callback` consumes.


        The response deliberately does NOT redirect: a `302` answering a
        `fetch()` would be followed by the fetch, and the provider's
        consent screen has to be a real top-level navigation the client
        performs itself with the returned URL.


        Link and reauthentication starts are privileged account actions.
        They therefore use `POST` behind the normal session, CSRF token,
        and exact-Origin checks. `GET` refuses both purposes.
      parameters:
        - $ref: "#/components/parameters/AuthLinkPurpose"
      responses:
        "200":
          description: The authorize URL to navigate the browser to.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AuthStartResponse"
              example:
                data:
                  authorizeUrl: https://accounts.google.com/o/oauth2/v2/auth?...
        "400":
          description: >-
            `purpose` was absent or was something other than `link` or
            `reauth`. This route serves exactly those two — a login start
            is the `GET`'s job — and never substitutes a default, which
            would hand back an authorize URL for a flow the caller did not
            ask for.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
              example:
                error:
                  code: bad_request
                  message: purpose must be link or reauth
        "401":
          description: No valid `__Host-session` cookie. Clears the cookie.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
              example:
                error:
                  code: session_required
                  message: a valid session is required
        "403":
          description: >-
            Either the CSRF chain rejected the request (missing/mismatched
            `Origin`, missing/wrong `csrfToken`) or — `purpose=link` only —
            the session's last full OAuth login is more than 15 minutes
            old. The reauth check runs BEFORE any transaction row is
            created, so a stale caller never gets a live transaction
            handle. `purpose=reauth` has no such gate: its whole point is
            to establish recency.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
              examples:
                csrf_rejected:
                  summary: Failed the CSRF chain
                  value:
                    error:
                      code: csrf_rejected
                      message: CSRF validation failed
                reauth_required:
                  summary: "purpose=link, stale reauth window"
                  value:
                    error:
                      code: reauth_required
                      message: recent reauthentication is required
        "429":
          $ref: "#/components/responses/AuthStartRateLimited"
  /auth/google/callback:
    get:
      operationId: getAuthGoogleCallback
      tags: [auth]
      security: []
      summary: Complete "Sign in with Google"
      description: >-
        Consumes the pending OAuth transaction (`__Host-oauth-tx`
        cookie), exchanges the authorization code (PKCE), verifies the ID
        token (issuer/audience/signature/expiry, plus the OIDC nonce),
        and resolves or creates the local user or attaches the identity to
        an already-authenticated one, depending on the transaction's own
        `purpose` (set at `/auth/google/start`):


        - `purpose=login` (default): requires `email_verified == true`,
          then resolves the identity — an already-linked identity signs
          straight back in with **no** email comparison at all; an unknown
          identity whose email already belongs to a DIFFERENT account
          rejects with `email_already_registered` and creates nothing (no
          automatic email merge, AC-AUTH-001); otherwise creates a new
          user + identity.

        - `purpose=link`/`reauth`: no email check at all. Re-derives the
          caller's own session from THIS request's `__Host-session`
          cookie (the anonymous `security: []` above describes only the
          `purpose=login` default) rather than from anything in the
          transaction itself. `link` attaches the identity to that caller
          (idempotent if already attached to them; `identity_already_linked`
          if claimed by someone else) and issues NO new session — the
          caller already has one. `reauth` refreshes that session's
          `reauthenticated_at` against an ALREADY-linked identity only.


        Always redirects. This is a top-level browser navigation, never a
        JSON response:


        - **Success**: `302` to the app's own origin (`/`) for
          `purpose=login`, or to `/app/settings/sessions` for
          `purpose=link`/`reauth` — with the `__Host-session`
          cookie set for `purpose=login` only.

        - **Rejected**: `302` to `/login?error=<code>` for `purpose=login`,
          or to `/app/settings/sessions?error=<code>` for `purpose=link`/
          `reauth`, with one of `OAuthCallbackErrorCode`'s codes and no
          session cookie set. The no-oracle contract means every internal
          rejection reason not explicitly listed
          collapses into the generic `auth_failed` code — the response
          never lets a caller distinguish which specific check failed.


        `__Host-oauth-tx` is cleared on every exit path, success or
        rejection alike.
      parameters:
        - name: code
          in: query
          required: false
          schema:
            type: string
          description: The provider's authorization code (RFC 6749 §4.1.2).
            Absent on a provider-signaled rejection (see `error` below).
        - name: state
          in: query
          required: false
          schema:
            type: string
          description: Must match the pending transaction's own `state` (RFC
            6749 §10.12) or the callback is rejected with `auth_failed`.
        - name: error
          in: query
          required: false
          schema:
            type: string
          description: Set by the PROVIDER itself (never this server) when the
            visitor declines consent — `error=access_denied` (RFC 6749
            §4.1.2.1), which this server maps to its own `cancelled` code.
      responses:
        "302":
          description: Always redirects — see the operation description for
            the success/rejected branches.
          headers:
            Location:
              schema:
                type: string
                format: uri
              example: https://aboutme.vn/login?error=auth_failed
  /auth/github/start:
    get:
      operationId: getAuthGitHubStart
      tags: [auth]
      security: []
      summary: Begin "Sign in with GitHub"
      description: >-
        Begins a fresh OAuth2 login transaction (PKCE S256; GitHub has no
        OIDC ID token, so no nonce) and redirects the browser to GitHub's
        own authorize endpoint. Sets the `__Host-oauth-tx` cookie (opaque
        transaction handle, 10-minute TTL) that the matching `GET
        /auth/github/callback` consumes. `HEAD` is rejected with `405`.
        `GET` accepts only login; `link` and `reauth` return `405` with
        `Allow: POST` before any transaction is created.
      parameters:
        - $ref: "#/components/parameters/AuthPurpose"
        - $ref: "#/components/parameters/AuthReturnPath"
      responses:
        "302":
          description: Success — a redirect to GitHub's own authorize endpoint.
          headers:
            Location:
              schema:
                type: string
                format: uri
              example: https://github.com/login/oauth/authorize?...
        "405":
          description: >-
            Either an unsupported method, including `HEAD`, or a `GET`
            carrying `?purpose=link` or `?purpose=reauth`. The latter
            purposes are served only by `POST` and return `Allow: POST`.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "429":
          $ref: "#/components/responses/AuthStartRateLimited"
    post:
      operationId: postAuthGitHubStart
      tags: [auth]
      security:
        - sessionCookie: []
          csrfToken: []
      summary: Begin a GitHub link or reauthentication
      description: >-
        Begins an OAuth transaction for the CALLER's own already-
        authenticated account — `purpose=link` (attach this provider
        identity to that account) or `purpose=reauth` (refresh the
        session's `reauthenticated_at` against an ALREADY-linked
        identity) — and returns GitHub's authorize URL for the client to
        navigate to. Sets the same `__Host-oauth-tx` cookie (opaque
        transaction handle, 10-minute TTL) the matching `GET
        /auth/github/callback` consumes.


        The response deliberately does NOT redirect: a `302` answering a
        `fetch()` would be followed by the fetch, and the provider's
        consent screen has to be a real top-level navigation the client
        performs itself with the returned URL.


        Link and reauthentication starts are privileged account actions.
        They therefore use `POST` behind the normal session, CSRF token,
        and exact-Origin checks. `GET` refuses both purposes.
      parameters:
        - $ref: "#/components/parameters/AuthLinkPurpose"
      responses:
        "200":
          description: The authorize URL to navigate the browser to.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AuthStartResponse"
              example:
                data:
                  authorizeUrl: https://github.com/login/oauth/authorize?...
        "400":
          description: >-
            `purpose` was absent or was something other than `link` or
            `reauth`. This route serves exactly those two — a login start
            is the `GET`'s job — and never substitutes a default, which
            would hand back an authorize URL for a flow the caller did not
            ask for.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
              example:
                error:
                  code: bad_request
                  message: purpose must be link or reauth
        "401":
          description: No valid `__Host-session` cookie. Clears the cookie.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
              example:
                error:
                  code: session_required
                  message: a valid session is required
        "403":
          description: >-
            Either the CSRF chain rejected the request (missing/mismatched
            `Origin`, missing/wrong `csrfToken`) or — `purpose=link` only —
            the session's last full OAuth login is more than 15 minutes
            old. The reauth check runs BEFORE any transaction row is
            created, so a stale caller never gets a live transaction
            handle. `purpose=reauth` has no such gate: its whole point is
            to establish recency.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
              examples:
                csrf_rejected:
                  summary: Failed the CSRF chain
                  value:
                    error:
                      code: csrf_rejected
                      message: CSRF validation failed
                reauth_required:
                  summary: "purpose=link, stale reauth window"
                  value:
                    error:
                      code: reauth_required
                      message: recent reauthentication is required
        "429":
          $ref: "#/components/responses/AuthStartRateLimited"
  /auth/github/callback:
    get:
      operationId: getAuthGitHubCallback
      tags: [auth]
      security: []
      summary: Complete "Sign in with GitHub"
      description: >-
        Consumes the pending OAuth transaction (`__Host-oauth-tx`
        cookie), exchanges the authorization code, and — for
        `purpose=login` only — fetches the authenticated user's verified
        primary email from GitHub's REST API (AC-AUTH-003) — deliberately
        plain OAuth2, never OIDC: no ID token, no issuer/audience/
        signature/nonce to verify. `purpose=link`/`reauth` never fetches
        email at all (no email check for linking — see below). Otherwise
        follows the exact same purpose-dependent resolution and
        always-redirect contract as `GET /auth/google/callback` — see that
        operation's own description
        for the full `purpose=login` vs `purpose=link`/`reauth` behavior
        and redirect targets.
      parameters:
        - name: code
          in: query
          required: false
          schema:
            type: string
          description: The provider's authorization code (RFC 6749 §4.1.2).
            Absent on a provider-signaled rejection (see `error` below).
        - name: state
          in: query
          required: false
          schema:
            type: string
          description: Must match the pending transaction's own `state` (RFC
            6749 §10.12) or the callback is rejected with `auth_failed`.
        - name: error
          in: query
          required: false
          schema:
            type: string
          description: Set by the PROVIDER itself when the visitor declines
            consent — `error=access_denied`, mapped to this server's own
            `cancelled` code.
      responses:
        "302":
          description: Always redirects — see the operation description for
            the success/rejected branches.
          headers:
            Location:
              schema:
                type: string
                format: uri
              example: https://aboutme.vn/login?error=auth_failed
  /auth/linkedin/start:
    get:
      operationId: getAuthLinkedInStart
      tags: [auth]
      security: []
      summary: Begin "Sign in with LinkedIn"
      description: >-
        Begins a fresh OAuth2/OIDC login transaction (PKCE S256, an OIDC
        nonce) and redirects the browser to LinkedIn's own authorize
        endpoint. Sets the `__Host-oauth-tx` cookie (opaque transaction
        handle, 10-minute TTL) that the matching `GET
        /auth/linkedin/callback` consumes. `HEAD` is rejected with `405`.
        `GET` accepts only login; `link` and `reauth` return `405` with
        `Allow: POST` before any transaction is created.
      parameters:
        - $ref: "#/components/parameters/AuthPurpose"
        - $ref: "#/components/parameters/AuthReturnPath"
      responses:
        "302":
          description: Success — a redirect to LinkedIn's own authorize endpoint.
          headers:
            Location:
              schema:
                type: string
                format: uri
              example: https://www.linkedin.com/oauth/v2/authorization?...
        "405":
          description: >-
            Either an unsupported method, including `HEAD`, or a `GET`
            carrying `?purpose=link` or `?purpose=reauth`. The latter
            purposes are served only by `POST` and return `Allow: POST`.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "429":
          $ref: "#/components/responses/AuthStartRateLimited"
    post:
      operationId: postAuthLinkedInStart
      tags: [auth]
      security:
        - sessionCookie: []
          csrfToken: []
      summary: Begin a LinkedIn link or reauthentication
      description: >-
        Begins an OAuth transaction for the CALLER's own already-
        authenticated account — `purpose=link` (attach this provider
        identity to that account) or `purpose=reauth` (refresh the
        session's `reauthenticated_at` against an ALREADY-linked
        identity) — and returns LinkedIn's authorize URL for the client to
        navigate to. Sets the same `__Host-oauth-tx` cookie (opaque
        transaction handle, 10-minute TTL) the matching `GET
        /auth/linkedin/callback` consumes.


        The response deliberately does NOT redirect: a `302` answering a
        `fetch()` would be followed by the fetch, and the provider's
        consent screen has to be a real top-level navigation the client
        performs itself with the returned URL.


        Link and reauthentication starts are privileged account actions.
        They therefore use `POST` behind the normal session, CSRF token,
        and exact-Origin checks. `GET` refuses both purposes.
      parameters:
        - $ref: "#/components/parameters/AuthLinkPurpose"
      responses:
        "200":
          description: The authorize URL to navigate the browser to.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AuthStartResponse"
              example:
                data:
                  authorizeUrl: https://www.linkedin.com/oauth/v2/authorization?...
        "400":
          description: >-
            `purpose` was absent or was something other than `link` or
            `reauth`. This route serves exactly those two — a login start
            is the `GET`'s job — and never substitutes a default, which
            would hand back an authorize URL for a flow the caller did not
            ask for.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
              example:
                error:
                  code: bad_request
                  message: purpose must be link or reauth
        "401":
          description: No valid `__Host-session` cookie. Clears the cookie.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
              example:
                error:
                  code: session_required
                  message: a valid session is required
        "403":
          description: >-
            Either the CSRF chain rejected the request (missing/mismatched
            `Origin`, missing/wrong `csrfToken`) or — `purpose=link` only —
            the session's last full OAuth login is more than 15 minutes
            old. The reauth check runs BEFORE any transaction row is
            created, so a stale caller never gets a live transaction
            handle. `purpose=reauth` has no such gate: its whole point is
            to establish recency.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
              examples:
                csrf_rejected:
                  summary: Failed the CSRF chain
                  value:
                    error:
                      code: csrf_rejected
                      message: CSRF validation failed
                reauth_required:
                  summary: "purpose=link, stale reauth window"
                  value:
                    error:
                      code: reauth_required
                      message: recent reauthentication is required
        "429":
          $ref: "#/components/responses/AuthStartRateLimited"
  /auth/linkedin/callback:
    get:
      operationId: getAuthLinkedInCallback
      tags: [auth]
      security: []
      summary: Complete "Sign in with LinkedIn"
      description: >-
        Consumes the pending OAuth transaction (`__Host-oauth-tx`
        cookie), exchanges the authorization code (PKCE), verifies the ID
        token (issuer/audience/signature/expiry, plus the OIDC nonce), and
        resolves the local user per `purpose`, exactly like `GET
        /auth/google/callback` — see that
        operation's own description for the full `purpose=login` vs
        `purpose=link`/`reauth` behavior and redirect targets, with ONE
        LinkedIn-specific difference: `purpose=login`'s registration path
        (an UNKNOWN identity only — an existing identity's repeat login
        never re-checks email at all, matching every other provider)
        requires a verified email exactly like Google, EXCEPT LinkedIn's
        OIDC `email`/`email_verified` claims are OPTIONAL — an absent
        `email_verified` claim is never treated as true (AC-AUTH-002).
        `purpose=link`/`reauth` never checks email; linking an existing
        account remains allowed without a verified email.
      parameters:
        - name: code
          in: query
          required: false
          schema:
            type: string
          description: The provider's authorization code (RFC 6749 §4.1.2).
            Absent on a provider-signaled rejection (see `error` below).
        - name: state
          in: query
          required: false
          schema:
            type: string
          description: Must match the pending transaction's own `state` (RFC
            6749 §10.12) or the callback is rejected with `auth_failed`.
        - name: error
          in: query
          required: false
          schema:
            type: string
          description: Set by the PROVIDER itself when the visitor declines
            consent — `error=access_denied`, mapped to this server's own
            `cancelled` code.
      responses:
        "302":
          description: Always redirects — see the operation description for
            the success/rejected branches.
          headers:
            Location:
              schema:
                type: string
                format: uri
              example: https://aboutme.vn/login?error=auth_failed

  # ---- Session-authenticated JSON API (AC-AUTH-005) -----------------------
  /me:
    get:
      operationId: getMe
      tags: [auth]
      security:
        - sessionCookie: []
      summary: The caller's own account, a fresh CSRF token, and linked
        providers
      description: >-
        Returns the authenticated caller's own user record, a fresh CSRF
        token, and which OAuth providers they have a linked identity for.
        Identities are ordered by `(created_at, id)`, oldest first, so clients
        have a stable default reauthentication provider even when timestamps
        are equal.


        The CSRF token is returned **only** here, in the response body —
        never in a header, cookie, URL, or log line. A client must echo it
        back on the `X-CSRF-Token`
        header for every mutating cookie-authenticated request (see the
        `csrfToken` security scheme).
      responses:
        "200":
          description: The caller's own account.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/Envelope"
                  - type: object
                    properties:
                      data:
                        type: object
                        required: [user, csrfToken, identities]
                        properties:
                          user:
                            $ref: "#/components/schemas/User"
                          csrfToken:
                            type: string
                            description: base64url (no padding) encoding of
                              this session's own CSRF secret. Echo back
                              on `X-CSRF-Token` for every mutating
                              request.
                            example: kQ2f9Z3sV1n8LhTt7v0wYb-example
                          identities:
                            type: array
                            description: >-
                              Linked identities ordered by `(created_at, id)`,
                              oldest first.
                            items:
                              $ref: "#/components/schemas/Identity"
              example:
                data:
                  user:
                    id: 018f5b6a-9a3e-7c21-8b1e-000000000001
                    email: ada@example.com
                    name: Ada Lovelace
                    avatarKey: null
                    hasPassword: false
                  csrfToken: kQ2f9Z3sV1n8LhTt7v0wYb-example
                  identities:
                    - provider: google
        "401":
          description: Missing or invalid `__Host-session` cookie.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
              example:
                error:
                  code: session_required
                  message: a valid session is required
  /auth/logout:
    post:
      operationId: postAuthLogout
      tags: [auth]
      security:
        - sessionCookie: []
          csrfToken: []
      summary: Log out (revoke the current session)
      description: >-
        Revokes the caller's own current session, clears the
        `__Host-session` cookie, and sets `Clear-Site-Data: "cookies",
        "storage"` so the browser drops any cached credential-derived
        state too.
      responses:
        "204":
          description: Logged out. No response body — session endpoints
            return `204`, not a `{"data":...}` envelope, on a successful
            mutation.
          headers:
            Clear-Site-Data:
              schema:
                type: string
              example: '"cookies", "storage"'
        "401":
          description: Missing or invalid `__Host-session` cookie.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "403":
          description: CSRF validation failed (Origin/Referer, Content-Type,
            or token mismatch — collapsed into one no-oracle code).
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
              example:
                error:
                  code: csrf_rejected
                  message: CSRF validation failed
  /sessions:
    get:
      operationId: getSessions
      tags: [auth]
      security:
        - sessionCookie: []
      summary: List the caller's own live sessions (device list)
      description: >-
        Every LIVE session belonging to the caller. A session is excluded
        the moment ANY of these become true: it is explicitly revoked; it
        is idle-expired (no activity for 30 days); it is absolute-expired
        (90 days since it was first issued, regardless of activity); or it
        is a grace-dead rotation predecessor (a superseded session row
        whose rotation grace window has already elapsed but isn't itself
        marked revoked).
      responses:
        "200":
          description: The caller's own live sessions.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/Envelope"
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: "#/components/schemas/SessionDevice"
              example:
                data:
                  - id: 018f5b6a-9a3e-7c21-8b1e-000000000002
                    createdAt: "2026-08-01T12:00:00Z"
                    lastSeenAt: "2026-08-02T09:30:00Z"
                    ua: Mozilla/5.0 (Macintosh; ...)
                    ip: 203.0.113.7
                    current: true
        "401":
          description: Missing or invalid `__Host-session` cookie.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
    delete:
      operationId: deleteSessions
      tags: [auth]
      security:
        - sessionCookie: []
          csrfToken: []
      summary: Log out everywhere (revoke every live session)
      description: >-
        Revokes every one of the caller's own live sessions, clears the
        current `__Host-session` cookie, and sets `Clear-Site-Data:
        "cookies", "storage"`.


        Requires a RECENT reauthentication — the session's last full
        OAuth login within the last 15 minutes — rejected with `403
        reauth_required` otherwise, checked BEFORE any session row is
        touched.
      responses:
        "204":
          description: Logged out everywhere. No response body.
          headers:
            Clear-Site-Data:
              schema:
                type: string
              example: '"cookies", "storage"'
        "401":
          description: Missing or invalid `__Host-session` cookie.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "403":
          description: CSRF validation failed, OR the session's last
            reauthentication is stale — two distinct codes under the
            same status (`csrf_rejected`, `reauth_required`); the CSRF
            check always runs first.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
              examples:
                csrf_rejected:
                  value:
                    error:
                      code: csrf_rejected
                      message: CSRF validation failed
                reauth_required:
                  value:
                    error:
                      code: reauth_required
                      message: recent reauthentication is required
  /sessions/{id}:
    parameters:
      - $ref: "#/components/parameters/SessionID"
    delete:
      operationId: deleteSession
      tags: [auth]
      security:
        - sessionCookie: []
          csrfToken: []
      summary: Revoke one of the caller's own sessions
      description: >-
        Revokes exactly one session, which must belong to the caller AND
        be LIVE by the same rule `GET /sessions` excludes by (not
        revoked, not idle/absolute-expired, not a grace-dead rotation
        predecessor). Requires a RECENT reauthentication (see `DELETE
        /sessions`), checked BEFORE any row is touched.


        Also revokes the target's own rotation LINEAGE partner(s), if
        any: the session it was itself rotated from, and the session (if
        still live) that was rotated from it. This applies to any target,
        not only the caller's current session — a caller who sees both
        halves of a still-open rotation pair in their own device list
        must not be able to leave the other half live by revoking just
        one of the two rows.


        Clears the caller's own `__Host-session` cookie and sets
        `Clear-Site-Data` whenever the caller's OWN current session dies
        as part of this request — whether `id` named it directly, OR a
        DIFFERENT id was named and the caller's current session turned
        out to be THAT target's lineage partner (predecessor or
        successor). Revoking a session unrelated to the caller's own
        current one leaves both response artifacts, and the current
        session itself, untouched.


        An `id` that doesn't exist, belongs to a DIFFERENT user, is
        already revoked, is idle-expired, is absolute-expired, or is a
        grace-dead rotation predecessor all return the same `404` under
        the no-oracle contract — never a distinct `403` that would
        confirm the id exists for someone else, or a distinct `410`/`400`
        that would confirm it once existed but is merely dead.
      responses:
        "204":
          description: Revoked. No response body. Also clears
            `__Host-session` and sets `Clear-Site-Data` if the caller's
            own current session died as part of this request (directly,
            or via its rotation lineage — see the operation description).
          headers:
            Clear-Site-Data:
              schema:
                type: string
              example: '"cookies", "storage"'
        "401":
          description: Missing or invalid `__Host-session` cookie.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "403":
          description: CSRF validation failed, or recent reauthentication is
            required.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
              examples:
                csrf_rejected:
                  value:
                    error:
                      code: csrf_rejected
                      message: CSRF validation failed
                reauth_required:
                  value:
                    error:
                      code: reauth_required
                      message: recent reauthentication is required
        "404":
          description: No live session with this id belongs to the caller
            (unknown id, already revoked, or belongs to someone else —
            indistinguishable by design).
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
              example:
                error:
                  code: not_found
                  message: no such session
  # ---- Session-authenticated OAuth consent and grant management ----------
  /oauth/consent:
    get:
      operationId: getOAuthConsent
      tags: [OAuthAgentAccess]
      security:
        - sessionCookie: []
      summary: Read the pending agent consent request
      description: >-
        Re-validates the complete authorization request against the registered
        client and returns only its display name and requested scope list.
        `state` is echoed by the decision operation, but is never logged or
        returned as a separate response field. This read is safe and does not
        require CSRF.
      parameters:
        - name: client_id
          in: query
          required: true
          schema:
            type: string
            format: uuid
        - name: redirect_uri
          in: query
          required: true
          description: Must exactly match one redirect URI registered by the client.
          schema:
            type: string
            format: uri
        - name: response_type
          in: query
          required: true
          schema:
            type: string
            const: code
        - name: scope
          in: query
          required: true
          description: >-
            One or both account-wide scopes. This is a closed list, not free
            text. Multiple scopes use OAuth's canonical space-delimited form.
          style: form
          schema:
            type: string
            enum:
              - resumes:read
              - resumes:write
              - resumes:read resumes:write
        - name: state
          in: query
          required: false
          description: Opaque client state, bounded to 512 bytes and echoed on redirect.
          schema:
            type: string
            maxLength: 512
        - name: code_challenge
          in: query
          required: true
          description: RFC 7636 S256 challenge (43 base64url characters).
          schema:
            type: string
            minLength: 43
            maxLength: 43
            pattern: "^[A-Za-z0-9_-]{43}$"
        - name: code_challenge_method
          in: query
          required: true
          schema:
            type: string
            const: S256
      responses:
        "200":
          description: Registered client name and requested scopes.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OAuthConsentResponse"
              example:
                data:
                  clientName: Resume assistant
                  scopes: [resumes:read]
        "400":
          description: The authorization request is malformed or invalid.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
              example:
                error:
                  code: request_invalid
                  message: authorization request is invalid
        "401":
          description: Missing or invalid session cookie.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
              example:
                error:
                  code: session_required
                  message: a valid session is required
        "404":
          description: The client or registered redirect URI was not found.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
              example:
                error:
                  code: not_found
                  message: no such authorization client
    post:
      operationId: postOAuthConsentDecision
      tags: [OAuthAgentAccess]
      security:
        - sessionCookie: []
          csrfToken: []
      summary: Approve or deny agent consent
      description: >-
        Re-validates every authorization request field against the registered
        client before acting. Approval records the account-wide grant and
        redirects to the exact registered redirect URI with the authorization
        result; denial redirects there with `error=access_denied`. The
        redirect carries the submitted `state` when present. No token or code
        is returned as a response field.
      requestBody:
        required: true
        description: Strict JSON request, no unknown or duplicate fields, ≤ 4,096 bytes.
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/OAuthConsentDecisionRequest"
      responses:
        "200":
          description: Redirect destination for the consent result.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OAuthConsentDecisionResponse"
              example:
                data:
                  redirectTo: https://agent.example/callback?state=opaque
        "400":
          description: The authorization request or decision body is malformed.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
              example:
                error:
                  code: request_invalid
                  message: authorization request is invalid
        "401":
          description: Missing or invalid session cookie.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
              example:
                error:
                  code: session_required
                  message: a valid session is required
        "403":
          description: CSRF or exact-Origin validation failed.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
              example:
                error:
                  code: csrf_rejected
                  message: CSRF validation failed
        "404":
          description: The client or registered redirect URI was not found.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
              example:
                error:
                  code: not_found
                  message: no such authorization client
        "413":
          description: Request body exceeds 4,096 bytes.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
              example:
                error:
                  code: body_too_large
                  message: request body is too large
        "415":
          $ref: "#/components/responses/PasswordMediaTypeUnsupported"
  /me/agents:
    get:
      operationId: listAgentGrants
      tags: [OAuthAgentAccess]
      security:
        - sessionCookie: []
      summary: List connected agent grants
      description: >-
        Lists every live agent grant for the authenticated account. The
        response contains display metadata and timestamps only; it never
        contains token, authorization-code, or other credential material.
      responses:
        "200":
          description: The caller's live connected-agent grants.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OAuthAgentGrantsResponse"
              example:
                data:
                  grants:
                    - id: 018f5b6a-9a3e-7c21-8b1e-000000000030
                      clientName: Resume assistant
                      scopes: [resumes:read, resumes:write]
                      createdAt: "2026-09-01T09:00:00Z"
                      lastUsedAt: null
        "401":
          description: Missing or invalid session cookie.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
              example:
                error:
                  code: session_required
                  message: a valid session is required
  /me/agents/{grantId}:
    parameters:
      - $ref: "#/components/parameters/GrantID"
    delete:
      operationId: revokeAgentGrant
      tags: [OAuthAgentAccess]
      security:
        - sessionCookie: []
          csrfToken: []
      summary: Revoke a connected agent grant
      description: >-
        Revokes the live grant and its token family. Unknown, already revoked,
        or foreign grant IDs all return the same 404 response and are not
        distinguishable.
      responses:
        "204":
          description: Grant revoked. No response body.
        "401":
          description: Missing or invalid session cookie.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
              example:
                error:
                  code: session_required
                  message: a valid session is required
        "403":
          description: CSRF or exact-Origin validation failed.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
              example:
                error:
                  code: csrf_rejected
                  message: CSRF validation failed
        "404":
          description: No live grant with this ID belongs to the caller.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
              example:
                error:
                  code: not_found
                  message: no such agent grant
  /resumes:
    get:
      operationId: listResumes
      tags: [resumes]
      security:
        - sessionCookie: []
      summary: List the caller's own resumes
      description: >-
        Returns the caller's own resumes as summaries: identity, title,
        language, revision, publish state, and timestamps. The resume
        document is deliberately absent — a list view never pays for up to
        three 512 KB documents. Fetch one document with
        `GET /resumes/{id}`.


        Ordering is `(created_at, id)`, oldest first, so a client has a
        stable list across equal timestamps. A caller with no resumes gets
        an empty array, never `404`.
      parameters:
        - $ref: "#/components/parameters/SchemaVersionHeader"
      responses:
        "200":
          description: The caller's own resume summaries, oldest first.
          headers:
            X-Resume-Schema-Version:
              $ref: "#/components/headers/EmittedSchemaVersion"
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/Envelope"
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: "#/components/schemas/ResumeSummary"
              example:
                data:
                  - id: 018f5b6a-9a3e-7c21-8b1e-000000000010
                    title: Backend engineer
                    lng: en
                    revision: "42"
                    live: true
                    slug: ada-lovelace
                    downloadEnabled: true
                    seoGeoEnabled: true
                    schemaVersion: 2
                    createdAt: 2026-08-01T09:00:00Z
                    updatedAt: 2026-08-11T18:20:00Z
        "400":
          $ref: "#/components/responses/ResumeListBadRequest"
        "401":
          $ref: "#/components/responses/ResumeUnauthorized"
        "405":
          $ref: "#/components/responses/MethodNotAllowedResumes"
        "429":
          $ref: "#/components/responses/ResumeRateLimited"
        "500":
          $ref: "#/components/responses/ResumeInternalError"
    post:
      operationId: createResume
      tags: [resumes]
      security:
        - sessionCookie: []
          csrfToken: []
      summary: Create a resume
      description: >-
        Creates one resume owned by the caller and returns it with its
        starting document. The body carries `title`, optional `lng`, and an
        optional seed `document` at the declared wire version. The revision,
        slug, publish state, and any photo metadata are server-owned.


        A create has no prior revision, so it takes `Idempotency-Key` and
        rejects `If-Match` with `400 precondition_not_supported` rather than
        ignoring it (ADR 0016, plan D6). The per-account resume cap is a
        domain conflict: the fourth create returns `409
        resume_cap_exceeded`, never `412`.
      parameters:
        - $ref: "#/components/parameters/IdempotencyKey"
        - $ref: "#/components/parameters/SchemaVersionHeader"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              required: [title]
              properties:
                title:
                  type: string
                  maxLength: 160
                  description: Owner-visible resume title, bounded in code
                    points by the numeric budgets.
                lng:
                  type: [string, "null"]
                  maxLength: 35
                  description: BCP 47 language tag for the resume's content.
                    Absent, null, or empty means undetermined (`und`).
                document:
                  allOf:
                    - $ref: "#/components/schemas/ResumeDocument"
                    - type: object
                      properties:
                        personalDetails:
                          type: object
                          properties:
                            photo: {}
                          not:
                            properties:
                              photo: {}
                            required: [photo]
                  description: >-
                    Optional seed document at the declared wire version.
                    `personalDetails.photo` is rejected because only the
                    server-owned photo routes may create photo metadata.
            example:
              title: Backend engineer
              lng: en
      responses:
        "201":
          description: The created resume, at its first revision.
          headers:
            Location:
              description: Canonical relative URL of the created resume.
              schema:
                type: string
              example: /api/v1/resumes/018f5b6a-9a3e-7c21-8b1e-000000000010
            ETag:
              $ref: "#/components/headers/ParentETag"
            X-Resume-Schema-Version:
              $ref: "#/components/headers/EmittedSchemaVersion"
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/Envelope"
                  - type: object
                    properties:
                      data:
                        $ref: "#/components/schemas/Resume"
              example:
                data:
                  id: 018f5b6a-9a3e-7c21-8b1e-000000000010
                  title: Backend engineer
                  lng: en
                  revision: "1"
                  live: false
                  slug: null
                  downloadEnabled: false
                  seoGeoEnabled: false
                  schemaVersion: 2
                  createdAt: 2026-08-12T09:00:00Z
                  updatedAt: 2026-08-12T09:00:00Z
                  document:
                    schemaVersion: 2
        "400":
          $ref: "#/components/responses/ResumeCreateBadRequest"
        "401":
          $ref: "#/components/responses/ResumeUnauthorized"
        "403":
          $ref: "#/components/responses/ResumeCsrfRejected"
        "405":
          $ref: "#/components/responses/MethodNotAllowedResumes"
        "409":
          $ref: "#/components/responses/ResumeCreateConflict"
        "413":
          $ref: "#/components/responses/ResumeBodyTooLarge"
        "422":
          $ref: "#/components/responses/ResumeDocumentInvalid"
        "429":
          $ref: "#/components/responses/ResumeRateLimited"
        "500":
          $ref: "#/components/responses/ResumeInternalError"
  /resumes/{id}:
    get:
      operationId: getResume
      tags: [resumes]
      security:
        - sessionCookie: []
      summary: Read one of the caller's own resumes
      description: >-
        Returns one owned resume and its whole document, projected to the
        requested wire version. A read never writes: a stored document below
        the current version is projected in memory and the row keeps its
        revision and `updated_at` (ADR 0017).


        Another account's resume id is indistinguishable from a missing one:
        both are `404 resume_not_found`, so the API is not an existence
        oracle.
      parameters:
        - $ref: "#/components/parameters/ResumeID"
        - $ref: "#/components/parameters/SchemaVersionHeader"
      responses:
        "200":
          $ref: "#/components/responses/ResumeRead"
        "400":
          $ref: "#/components/responses/ResumeReadBadRequest"
        "401":
          $ref: "#/components/responses/ResumeUnauthorized"
        "404":
          $ref: "#/components/responses/ResumeNotFound"
        "405":
          $ref: "#/components/responses/MethodNotAllowedResumeItem"
        "429":
          $ref: "#/components/responses/ResumeRateLimited"
        "500":
          $ref: "#/components/responses/ResumeInternalError"
    patch:
      operationId: updateResumeMetadata
      tags: [resumes]
      security:
        - sessionCookie: []
          csrfToken: []
      summary: Change a resume's title or language
      description: >-
        Updates owner-visible resume metadata. Both fields are optional and
        at least one must be present. `lng` is canonicalized before the
        compare-and-swap; a canonical form over 35 characters is rejected
        (plan D17). Null or empty clears it to undetermined.


        Like every mutation of an existing resume this requires `If-Match`
        and `Idempotency-Key`.
      parameters:
        - $ref: "#/components/parameters/ResumeID"
        - $ref: "#/components/parameters/IfMatch"
        - $ref: "#/components/parameters/IdempotencyKey"
        - $ref: "#/components/parameters/SchemaVersionHeader"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              minProperties: 1
              properties:
                title:
                  type: string
                  maxLength: 160
                lng:
                  type: [string, "null"]
                  maxLength: 35
            example:
              title: Staff backend engineer
      responses:
        "200":
          $ref: "#/components/responses/ResumeWritten"
        "400":
          $ref: "#/components/responses/ResumeWriteBadRequest"
        "401":
          $ref: "#/components/responses/ResumeUnauthorized"
        "403":
          $ref: "#/components/responses/ResumeCsrfRejected"
        "404":
          $ref: "#/components/responses/ResumeNotFound"
        "405":
          $ref: "#/components/responses/MethodNotAllowedResumeItem"
        "409":
          $ref: "#/components/responses/ResumeIdempotencyConflict"
        "412":
          $ref: "#/components/responses/ResumeRevisionMismatch"
        "413":
          $ref: "#/components/responses/ResumeBodyTooLarge"
        "422":
          $ref: "#/components/responses/ResumeDocumentInvalid"
        "428":
          $ref: "#/components/responses/ResumePreconditionRequired"
        "429":
          $ref: "#/components/responses/ResumeRateLimited"
        "500":
          $ref: "#/components/responses/ResumeInternalError"
    delete:
      operationId: deleteResume
      tags: [resumes]
      security:
        - sessionCookie: []
          csrfToken: []
      summary: Delete a resume
      description: >-
        Deletes one owned resume and enqueues exact-key deletion of its photo
        object in the same transaction (ADR 0019). The response is `204` with
        zero bytes and no `ETag`: the parent no longer exists, so there is no
        successor revision to report.


        The request has no body. Its idempotency fingerprint hashes a
        zero-length payload, so a retry with the same key replays the
        original `204`.
      parameters:
        - $ref: "#/components/parameters/ResumeID"
        - $ref: "#/components/parameters/IfMatch"
        - $ref: "#/components/parameters/IdempotencyKey"
        - $ref: "#/components/parameters/SchemaVersionHeader"
      responses:
        "204":
          description: Deleted. Zero bytes, no `Content-Type`, no `ETag`.
        "400":
          $ref: "#/components/responses/ResumeWriteBadRequest"
        "401":
          $ref: "#/components/responses/ResumeUnauthorized"
        "403":
          $ref: "#/components/responses/ResumeCsrfRejected"
        "404":
          $ref: "#/components/responses/ResumeNotFound"
        "405":
          $ref: "#/components/responses/MethodNotAllowedResumeItem"
        "409":
          $ref: "#/components/responses/ResumeIdempotencyConflict"
        "412":
          $ref: "#/components/responses/ResumeRevisionMismatch"
        "413":
          $ref: "#/components/responses/ResumeBodyTooLarge"
        "428":
          $ref: "#/components/responses/ResumePreconditionRequired"
        "429":
          $ref: "#/components/responses/ResumeRateLimited"
        "500":
          $ref: "#/components/responses/ResumeInternalError"
  /resumes/{id}/publish:
    post:
      operationId: publishResume
      tags: [resumes]
      security:
        - sessionCookie: []
          csrfToken: []
      summary: Change a resume's publish state and public slug
      description: >-
        Atomically applies the requested publish flags and optional slug to
        one owned resume. Omitted `slug` preserves its current value. The
        three booleans are always required; null or empty slug values are
        malformed requests, while a present nonempty slug is checked by the
        publish policy.


        A fresh rename that releases a live slug requires recent
        reauthentication. Every accepted change uses the normal parent CAS
        and idempotency envelope. A retained exact replay returns before the
        reauthentication and public-generation work.
      parameters:
        - $ref: "#/components/parameters/ResumeID"
        - $ref: "#/components/parameters/IfMatch"
        - $ref: "#/components/parameters/IdempotencyKey"
        - $ref: "#/components/parameters/SchemaVersionHeader"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PublishResumeRequest"
            example:
              slug: ada-lovelace
              live: true
              downloadEnabled: true
              seoGeoEnabled: false
      responses:
        "200":
          $ref: "#/components/responses/ResumeWritten"
        "400":
          $ref: "#/components/responses/ResumeWriteBadRequest"
        "401":
          $ref: "#/components/responses/ResumeUnauthorized"
        "403":
          $ref: "#/components/responses/ResumePublishForbidden"
        "404":
          $ref: "#/components/responses/ResumeNotFound"
        "405":
          $ref: "#/components/responses/MethodNotAllowedPublish"
        "409":
          $ref: "#/components/responses/ResumePublishConflict"
        "412":
          $ref: "#/components/responses/ResumeRevisionMismatch"
        "413":
          $ref: "#/components/responses/ResumeBodyTooLarge"
        "422":
          $ref: "#/components/responses/ResumePublishInvalid"
        "428":
          $ref: "#/components/responses/ResumePreconditionRequired"
        "429":
          $ref: "#/components/responses/ResumeRateLimited"
        "500":
          $ref: "#/components/responses/ResumeInternalError"
        "503":
          $ref: "#/components/responses/PublicStateBusy"
  /resumes/{id}/entries/{sectionKey}:
    patch:
      operationId: upsertResumeEntry
      tags: [resumes]
      security:
        - sessionCookie: []
          csrfToken: []
      summary: Create or replace one entry in a section
      description: >-
        Upserts exactly one entry. Identity is `entry.id` in the body, not the
        path: an existing id replaces that entry in place and keeps its
        position, and a new id appends to the section's `entryOrder`.


        The whole resume is revalidated and persisted through the aggregate
        write boundary, so this cannot produce a document that whole-resume
        validation would reject.
      parameters:
        - $ref: "#/components/parameters/ResumeID"
        - $ref: "#/components/parameters/SectionKey"
        - $ref: "#/components/parameters/IfMatch"
        - $ref: "#/components/parameters/IdempotencyKey"
        - $ref: "#/components/parameters/SchemaVersionHeader"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/EntryUpsert"
            example:
              entry:
                id: 018f5b6a-9a3e-7c21-8b1e-0000000000a1
                title: Staff engineer
      responses:
        "200":
          $ref: "#/components/responses/ResumeWritten"
        "400":
          $ref: "#/components/responses/ResumeWriteBadRequest"
        "401":
          $ref: "#/components/responses/ResumeUnauthorized"
        "403":
          $ref: "#/components/responses/ResumeCsrfRejected"
        "404":
          $ref: "#/components/responses/ResumeNotFound"
        "405":
          $ref: "#/components/responses/MethodNotAllowedPatchOnly"
        "409":
          $ref: "#/components/responses/ResumeIdempotencyConflict"
        "412":
          $ref: "#/components/responses/ResumeRevisionMismatch"
        "413":
          $ref: "#/components/responses/ResumeBodyTooLarge"
        "422":
          $ref: "#/components/responses/ResumeDocumentInvalid"
        "428":
          $ref: "#/components/responses/ResumePreconditionRequired"
        "429":
          $ref: "#/components/responses/ResumeRateLimited"
        "500":
          $ref: "#/components/responses/ResumeInternalError"
  /resumes/{id}/entries/{sectionKey}/{entryId}:
    delete:
      operationId: deleteResumeEntry
      tags: [resumes]
      security:
        - sessionCookie: []
          csrfToken: []
      summary: Delete one entry from a section
      description: >-
        Removes one entry and its `entryOrder` position. The response is
        `204` with zero bytes, and carries the new parent `ETag` and emitted
        schema version so the client can continue writing without a reread.


        The request has no body. Its idempotency fingerprint hashes a
        zero-length payload.
      parameters:
        - $ref: "#/components/parameters/ResumeID"
        - $ref: "#/components/parameters/SectionKey"
        - $ref: "#/components/parameters/EntryID"
        - $ref: "#/components/parameters/IfMatch"
        - $ref: "#/components/parameters/IdempotencyKey"
        - $ref: "#/components/parameters/SchemaVersionHeader"
      responses:
        "204":
          description: Deleted. Zero bytes and no `Content-Type`, with the new
            parent revision in `ETag`.
          headers:
            ETag:
              $ref: "#/components/headers/ParentETag"
            X-Resume-Schema-Version:
              $ref: "#/components/headers/EmittedSchemaVersion"
        "400":
          $ref: "#/components/responses/ResumeWriteBadRequest"
        "401":
          $ref: "#/components/responses/ResumeUnauthorized"
        "403":
          $ref: "#/components/responses/ResumeCsrfRejected"
        "404":
          $ref: "#/components/responses/ResumeNotFound"
        "405":
          $ref: "#/components/responses/MethodNotAllowedDeleteOnly"
        "409":
          $ref: "#/components/responses/ResumeIdempotencyConflict"
        "412":
          $ref: "#/components/responses/ResumeRevisionMismatch"
        "413":
          $ref: "#/components/responses/ResumeBodyTooLarge"
        "428":
          $ref: "#/components/responses/ResumePreconditionRequired"
        "429":
          $ref: "#/components/responses/ResumeRateLimited"
        "500":
          $ref: "#/components/responses/ResumeInternalError"
  /resumes/{id}/sections/{sectionKey}:
    patch:
      operationId: updateResumeSection
      tags: [resumes]
      security:
        - sessionCookie: []
          csrfToken: []
      summary: Change one section's own metadata
      description: >-
        Updates a section's display name, icon, or entry order. This route
        never moves a section between columns and never changes section
        order: `layout.sections` is the sole placement authority (ADR 0009)
        and only `PATCH /resumes/{id}/structure` writes it.


        `entryOrder` must be a permutation of that section's existing entry
        ids — it reorders, it does not add or remove.
      parameters:
        - $ref: "#/components/parameters/ResumeID"
        - $ref: "#/components/parameters/SectionKey"
        - $ref: "#/components/parameters/IfMatch"
        - $ref: "#/components/parameters/IdempotencyKey"
        - $ref: "#/components/parameters/SchemaVersionHeader"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SectionPatch"
            example:
              displayName: Experience
              iconKey: briefcase
      responses:
        "200":
          $ref: "#/components/responses/ResumeWritten"
        "400":
          $ref: "#/components/responses/ResumeWriteBadRequest"
        "401":
          $ref: "#/components/responses/ResumeUnauthorized"
        "403":
          $ref: "#/components/responses/ResumeCsrfRejected"
        "404":
          $ref: "#/components/responses/ResumeNotFound"
        "405":
          $ref: "#/components/responses/MethodNotAllowedPatchOnly"
        "409":
          $ref: "#/components/responses/ResumeIdempotencyConflict"
        "412":
          $ref: "#/components/responses/ResumeRevisionMismatch"
        "413":
          $ref: "#/components/responses/ResumeBodyTooLarge"
        "422":
          $ref: "#/components/responses/ResumeDocumentInvalid"
        "428":
          $ref: "#/components/responses/ResumePreconditionRequired"
        "429":
          $ref: "#/components/responses/ResumeRateLimited"
        "500":
          $ref: "#/components/responses/ResumeInternalError"
  /resumes/{id}/structure:
    patch:
      operationId: updateResumeStructure
      tags: [resumes]
      security:
        - sessionCookie: []
          csrfToken: []
      summary: Create, delete, move, or reorder sections
      description: >-
        The only endpoint that writes `layout.sections`. It applies an
        ordered list of at most 100 commands atomically: either every command
        applies and one new revision is written, or nothing changes.


        Commands are evaluated in list order against the result of the
        previous command, so a later command addresses the layout the earlier
        ones produced.
      parameters:
        - $ref: "#/components/parameters/ResumeID"
        - $ref: "#/components/parameters/IfMatch"
        - $ref: "#/components/parameters/IdempotencyKey"
        - $ref: "#/components/parameters/SchemaVersionHeader"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              required: [commands]
              properties:
                commands:
                  type: array
                  minItems: 1
                  maxItems: 100
                  description: Ordered commands, applied in list order. The
                    bound is the numeric budget for one structure request.
                  items:
                    $ref: "#/components/schemas/StructureCommand"
            example:
              commands:
                - op: createSection
                  key: projects
                  sectionType: project
                  column: main
                  index: 0
                - op: moveSection
                  key: projects
                  column: sidebar
                  index: 0
      responses:
        "200":
          $ref: "#/components/responses/ResumeWritten"
        "400":
          $ref: "#/components/responses/ResumeWriteBadRequest"
        "401":
          $ref: "#/components/responses/ResumeUnauthorized"
        "403":
          $ref: "#/components/responses/ResumeCsrfRejected"
        "404":
          $ref: "#/components/responses/ResumeNotFound"
        "405":
          $ref: "#/components/responses/MethodNotAllowedPatchOnly"
        "409":
          $ref: "#/components/responses/ResumeIdempotencyConflict"
        "412":
          $ref: "#/components/responses/ResumeRevisionMismatch"
        "413":
          $ref: "#/components/responses/ResumeBodyTooLarge"
        "422":
          $ref: "#/components/responses/ResumeDocumentInvalid"
        "428":
          $ref: "#/components/responses/ResumePreconditionRequired"
        "429":
          $ref: "#/components/responses/ResumeRateLimited"
        "500":
          $ref: "#/components/responses/ResumeInternalError"
  /resumes/{id}/personal-details:
    patch:
      operationId: updateResumePersonalDetails
      tags: [resumes]
      security:
        - sessionCookie: []
          csrfToken: []
      summary: Replace the personal-details object
      description: >-
        Replaces the whole client-owned personal-details object at the
        declared wire version. Sending it whole keeps the write idempotent
        and lets a field be cleared by omission.


        `photo` is server-owned and rejected here: it is written only by the
        photo routes, from a server-derived object key. Crop is changed
        through `PATCH /resumes/{id}/photo`.
      parameters:
        - $ref: "#/components/parameters/ResumeID"
        - $ref: "#/components/parameters/IfMatch"
        - $ref: "#/components/parameters/IdempotencyKey"
        - $ref: "#/components/parameters/SchemaVersionHeader"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PersonalDetailsPatch"
            example:
              fullName: Ada Lovelace
              headline: Backend engineer
      responses:
        "200":
          $ref: "#/components/responses/ResumeWritten"
        "400":
          $ref: "#/components/responses/ResumeWriteBadRequest"
        "401":
          $ref: "#/components/responses/ResumeUnauthorized"
        "403":
          $ref: "#/components/responses/ResumeCsrfRejected"
        "404":
          $ref: "#/components/responses/ResumeNotFound"
        "405":
          $ref: "#/components/responses/MethodNotAllowedPatchOnly"
        "409":
          $ref: "#/components/responses/ResumeIdempotencyConflict"
        "412":
          $ref: "#/components/responses/ResumeRevisionMismatch"
        "413":
          $ref: "#/components/responses/ResumeBodyTooLarge"
        "422":
          $ref: "#/components/responses/ResumeDocumentInvalid"
        "428":
          $ref: "#/components/responses/ResumePreconditionRequired"
        "429":
          $ref: "#/components/responses/ResumeRateLimited"
        "500":
          $ref: "#/components/responses/ResumeInternalError"
  /resumes/{id}/customization:
    patch:
      operationId: updateResumeCustomization
      tags: [resumes]
      security:
        - sessionCookie: []
          csrfToken: []
      summary: Apply ordered customization deltas
      description: >-
        Applies at most 100 ordered `set`/`unset` deltas to the resume's
        customization, atomically. Paths are checked against a fixed
        allowlist: anything outside it is `422 customization_path_denied`, so
        a delta cannot reach content, layout placement, or a server-owned
        field.


        Deltas apply in list order, so a later delta overwrites an earlier
        one on the same path.
      parameters:
        - $ref: "#/components/parameters/ResumeID"
        - $ref: "#/components/parameters/IfMatch"
        - $ref: "#/components/parameters/IdempotencyKey"
        - $ref: "#/components/parameters/SchemaVersionHeader"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              required: [deltas]
              properties:
                deltas:
                  type: array
                  minItems: 1
                  maxItems: 100
                  description: Ordered deltas, applied in list order. The
                    bound is the numeric budget for one customization
                    request.
                  items:
                    $ref: "#/components/schemas/CustomizationDelta"
            example:
              deltas:
                - op: set
                  path: font.family
                  value: inter
                - op: unset
                  path: colors.accent
      responses:
        "200":
          $ref: "#/components/responses/ResumeWritten"
        "400":
          $ref: "#/components/responses/ResumeWriteBadRequest"
        "401":
          $ref: "#/components/responses/ResumeUnauthorized"
        "403":
          $ref: "#/components/responses/ResumeCsrfRejected"
        "404":
          $ref: "#/components/responses/ResumeNotFound"
        "405":
          $ref: "#/components/responses/MethodNotAllowedPatchOnly"
        "409":
          $ref: "#/components/responses/ResumeIdempotencyConflict"
        "412":
          $ref: "#/components/responses/ResumeRevisionMismatch"
        "413":
          $ref: "#/components/responses/ResumeBodyTooLarge"
        "422":
          $ref: "#/components/responses/CustomizationRejected"
        "428":
          $ref: "#/components/responses/ResumePreconditionRequired"
        "429":
          $ref: "#/components/responses/ResumeRateLimited"
        "500":
          $ref: "#/components/responses/ResumeInternalError"
  /resumes/{id}/photo:
    post:
      operationId: uploadResumePhoto
      tags: [resumes, media]
      security:
        - sessionCookie: []
          csrfToken: []
      summary: Upload or replace the resume photo
      description: >-
        Accepts `multipart/form-data` with exactly one raw part named `file`.
        The request is capped at 2,162,688 bytes and the file part at
        2,097,152 bytes; either overflow is `413 media_too_large`, never
        `body_too_large`.


        Intake fully decodes static JPEG, PNG, or WebP within the dimension,
        pixel, time, and memory budgets, applies Exif orientation, rejects
        animation and invalid structure, strips every metadata block, and
        stores only normalized JPEG or PNG pixels under a server-derived
        immutable key. The original container never reaches storage. An
        unsupported container is `415 media_type_unsupported`; a recognized
        but unsafe or unnormalizable image is `422 media_invalid`.


        Concurrency is bounded by one task-wide media permit: a second intake
        that cannot acquire it within one second is `503 media_busy` with
        `Retry-After: 1`, before any body read. Replacement clears any crop
        attached to the old pixels and enqueues exact-key deletion of the old
        object in the same transaction (ADR 0019).
      parameters:
        - $ref: "#/components/parameters/ResumeID"
        - $ref: "#/components/parameters/IfMatch"
        - $ref: "#/components/parameters/IdempotencyKey"
        - $ref: "#/components/parameters/SchemaVersionHeader"
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              additionalProperties: false
              required: [file]
              properties:
                file:
                  type: string
                  format: binary
                  description: The raw image bytes. Multipart framing,
                    boundary text, part headers, and filename are transport
                    metadata and are not part of the idempotency fingerprint.
      responses:
        "200":
          $ref: "#/components/responses/ResumeWritten"
        "400":
          $ref: "#/components/responses/ResumeWriteBadRequest"
        "401":
          $ref: "#/components/responses/ResumeUnauthorized"
        "403":
          $ref: "#/components/responses/ResumeCsrfRejected"
        "404":
          $ref: "#/components/responses/ResumeNotFound"
        "405":
          $ref: "#/components/responses/MethodNotAllowedPhoto"
        "409":
          $ref: "#/components/responses/ResumeIdempotencyConflict"
        "412":
          $ref: "#/components/responses/ResumeRevisionMismatch"
        "413":
          $ref: "#/components/responses/PhotoTooLarge"
        "415":
          $ref: "#/components/responses/PhotoTypeUnsupported"
        "422":
          $ref: "#/components/responses/PhotoInvalid"
        "428":
          $ref: "#/components/responses/ResumePreconditionRequired"
        "429":
          $ref: "#/components/responses/ResumeRateLimited"
        "500":
          $ref: "#/components/responses/ResumeInternalError"
        "503":
          $ref: "#/components/responses/PhotoBusy"
    get:
      operationId: getResumePhoto
      tags: [resumes, media]
      security:
        - sessionCookie: []
      summary: Read the resume photo's normalized bytes
      description: >-
        Streams the stored normalized JPEG or PNG to the owner. Objects are
        private: existence never grants access, and every read passes the
        ownership check first (ADR 0019).


        The strong `ETag` is derived from the immutable object key, so it
        changes only when the photo is replaced. `If-None-Match` accepts one
        well-formed strong tag: an exact match is `304` with no body, a
        different tag is `200`. This binary read is outside the wire-version
        contract and emits no schema-version header.
      parameters:
        - $ref: "#/components/parameters/ResumeID"
        - $ref: "#/components/parameters/IfNoneMatch"
      responses:
        "200":
          description: The normalized photo bytes.
          headers:
            ETag:
              $ref: "#/components/headers/ObjectETag"
          content:
            image/jpeg:
              schema:
                type: string
                format: binary
            image/png:
              schema:
                type: string
                format: binary
        "304":
          description: The caller's `If-None-Match` matches the current
            object. Zero bytes and no `Content-Type`.
          headers:
            ETag:
              $ref: "#/components/headers/ObjectETag"
        "400":
          $ref: "#/components/responses/PhotoReadBadRequest"
        "401":
          $ref: "#/components/responses/ResumeUnauthorized"
        "404":
          $ref: "#/components/responses/ResumeOrPhotoNotFound"
        "405":
          $ref: "#/components/responses/MethodNotAllowedPhoto"
        "429":
          $ref: "#/components/responses/ResumeRateLimited"
        "500":
          $ref: "#/components/responses/ResumeInternalError"
    patch:
      operationId: updateResumePhotoCrop
      tags: [resumes, media]
      security:
        - sessionCookie: []
          csrfToken: []
      summary: Change or clear the photo crop
      description: >-
        Changes only the normalized crop rectangle. The body is exactly
        `{crop: <crop>|null}`: null removes the crop property. It accepts no
        object key and no other photo field.


        The photo key is read inside the compare-and-swap transaction and
        preserved, and the route performs no object-store I/O at all. Ordinary
        JSON write admission applies; the upload-only limits, `415`, and
        `media_busy` are unreachable here.
      parameters:
        - $ref: "#/components/parameters/ResumeID"
        - $ref: "#/components/parameters/IfMatch"
        - $ref: "#/components/parameters/IdempotencyKey"
        - $ref: "#/components/parameters/SchemaVersionHeader"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PhotoCropPatch"
            example:
              crop:
                x: 0.1
                y: 0.05
                width: 0.8
                height: 0.8
      responses:
        "200":
          $ref: "#/components/responses/ResumeWritten"
        "400":
          $ref: "#/components/responses/ResumeWriteBadRequest"
        "401":
          $ref: "#/components/responses/ResumeUnauthorized"
        "403":
          $ref: "#/components/responses/ResumeCsrfRejected"
        "404":
          $ref: "#/components/responses/ResumeOrPhotoNotFound"
        "405":
          $ref: "#/components/responses/MethodNotAllowedPhoto"
        "409":
          $ref: "#/components/responses/ResumeIdempotencyConflict"
        "412":
          $ref: "#/components/responses/ResumeRevisionMismatch"
        "413":
          $ref: "#/components/responses/ResumeBodyTooLarge"
        "422":
          $ref: "#/components/responses/ResumeDocumentInvalid"
        "428":
          $ref: "#/components/responses/ResumePreconditionRequired"
        "429":
          $ref: "#/components/responses/ResumeRateLimited"
        "500":
          $ref: "#/components/responses/ResumeInternalError"
    delete:
      operationId: deleteResumePhoto
      tags: [resumes, media]
      security:
        - sessionCookie: []
          csrfToken: []
      summary: Delete the resume photo
      description: >-
        Removes the photo reference and its crop, and enqueues exact-key
        deletion of the object in the same transaction. Access is revoked at
        commit; the bytes are removed by the deletion worker within the
        24-hour target (ADR 0019).


        The request has no body. Its idempotency fingerprint hashes a
        zero-length payload. The response is `204` with the new parent
        `ETag`.
      parameters:
        - $ref: "#/components/parameters/ResumeID"
        - $ref: "#/components/parameters/IfMatch"
        - $ref: "#/components/parameters/IdempotencyKey"
        - $ref: "#/components/parameters/SchemaVersionHeader"
      responses:
        "204":
          description: Deleted. Zero bytes and no `Content-Type`, with the new
            parent revision in `ETag`.
          headers:
            ETag:
              $ref: "#/components/headers/ParentETag"
            X-Resume-Schema-Version:
              $ref: "#/components/headers/EmittedSchemaVersion"
        "400":
          $ref: "#/components/responses/ResumeWriteBadRequest"
        "401":
          $ref: "#/components/responses/ResumeUnauthorized"
        "403":
          $ref: "#/components/responses/ResumeCsrfRejected"
        "404":
          $ref: "#/components/responses/ResumeOrPhotoNotFound"
        "405":
          $ref: "#/components/responses/MethodNotAllowedPhoto"
        "409":
          $ref: "#/components/responses/ResumeIdempotencyConflict"
        "412":
          $ref: "#/components/responses/ResumeRevisionMismatch"
        "413":
          $ref: "#/components/responses/ResumeBodyTooLarge"
        "428":
          $ref: "#/components/responses/ResumePreconditionRequired"
        "429":
          $ref: "#/components/responses/ResumeRateLimited"
        "500":
          $ref: "#/components/responses/ResumeInternalError"

  /public/resumes/{slug}:
    get:
      operationId: getPublicResume
      tags: [public]
      security: []
      summary: Read one published resume as public JSON
      description: >-
        Returns the closed privacy-filtered public projection for a live
        resume. Missing, private, renamed, deleted, tombstoned, and malformed
        slugs are indistinguishable `404` responses. The generation gate runs
        before cache reuse or conditional evaluation.
      parameters:
        - $ref: "#/components/parameters/PublicSlug"
        - $ref: "#/components/parameters/IfNoneMatch"
      responses: &publicResumeResponses
        "200":
          $ref: "#/components/responses/PublicResumeRead"
        "304":
          $ref: "#/components/responses/PublicResumeNotModified"
        "400":
          $ref: "#/components/responses/PublicBadRequest"
        "404":
          $ref: "#/components/responses/PublicNotFound"
        "405":
          $ref: "#/components/responses/PublicMethodNotAllowed"
        "503":
          $ref: "#/components/responses/PublicUnavailable"
    head:
      operationId: headPublicResume
      tags: [public]
      security: []
      summary: Read public resume JSON headers
      description: >-
        Performs the same admission, generation, conditional comparison, and
        response selection as GET. It sends the GET representation's status
        and headers, including Content-Length, but no body bytes.
      parameters:
        - $ref: "#/components/parameters/PublicSlug"
        - $ref: "#/components/parameters/IfNoneMatch"
      responses: *publicResumeResponses
  /public/resumes/{slug}/photo:
    get:
      operationId: getPublicResumePhoto
      tags: [public, media]
      security: []
      summary: Read a published resume's normalized photo
      description: >-
        Returns the current normalized JPEG or PNG only while the resume is
        live and still references that exact private object. Object keys and
        provider validators never reach the public response.
      parameters:
        - $ref: "#/components/parameters/PublicSlug"
        - $ref: "#/components/parameters/IfNoneMatch"
      responses: &publicPhotoResponses
        "200":
          $ref: "#/components/responses/PublicPhotoRead"
        "304":
          $ref: "#/components/responses/PublicPhotoNotModified"
        "400":
          $ref: "#/components/responses/PublicBadRequest"
        "404":
          $ref: "#/components/responses/PublicNotFound"
        "405":
          $ref: "#/components/responses/PublicMethodNotAllowed"
        "503":
          $ref: "#/components/responses/PublicUnavailable"
    head:
      operationId: headPublicResumePhoto
      tags: [public, media]
      security: []
      summary: Read published photo headers
      description: >-
        Performs the same admission, object read, byte validation, and
        conditional comparison as GET. It sends the GET representation's
        status and headers, including Content-Length, but no body bytes.
      parameters:
        - $ref: "#/components/parameters/PublicSlug"
        - $ref: "#/components/parameters/IfNoneMatch"
      responses: *publicPhotoResponses
  /auth/password/register:
    post:
      operationId: postAuthPasswordRegister
      tags: [auth]
      security: []
      summary: Queue email verification for a new password account
      description: >-
        Validates name, email, and password, then queues a verification email
        for an unowned email. Owned and unowned emails return the same `202`
        and reveal no account state; a provider-only user must sign in through
        the provider and add a password in settings.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PasswordRegisterRequest"
      responses:
        "202":
          $ref: "#/components/responses/PasswordAccepted"
        "400":
          $ref: "#/components/responses/PasswordRequestInvalid"
        "403":
          $ref: "#/components/responses/PasswordCsrfRejected"
        "413":
          $ref: "#/components/responses/PasswordBodyTooLarge"
        "415":
          $ref: "#/components/responses/PasswordMediaTypeUnsupported"
        "422":
          $ref: "#/components/responses/PasswordPolicyInvalid"
        "429":
          $ref: "#/components/responses/PasswordRateLimited"
        "503":
          $ref: "#/components/responses/PasswordUnavailable"
  /auth/password/verify:
    post:
      operationId: postAuthPasswordVerify
      tags: [auth]
      security: []
[...]
